*{margin: 0;padding: 0}
#bubble-wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height:600px;
    border: 1px solid #6dff09;
}
#bubble-box{
    background: #fff;
}